{% assign item = faq-accordion %}

<div class="faq_item">
  <div class="head">
    <div class="text-primary">
      {{item.title}}
    </div>
    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M21.708 12.1001C21.708 12.299 21.629 12.4898 21.4883 12.6304C21.3477 12.7711 21.1569 12.8501 20.958 12.8501H13.458V20.3501C13.458 20.549 13.379 20.7398 13.2383 20.8804C13.0977 21.0211 12.9069 21.1001 12.708 21.1001C12.5091 21.1001 12.3183 21.0211 12.1777 20.8804C12.037 20.7398 11.958 20.549 11.958 20.3501V12.8501H4.45801C4.2591 12.8501 4.06833 12.7711 3.92768 12.6304C3.78703 12.4898 3.70801 12.299 3.70801 12.1001C3.70801 11.9012 3.78703 11.7104 3.92768 11.5698C4.06833 11.4291 4.2591 11.3501 4.45801 11.3501H11.958V3.8501C11.958 3.65119 12.037 3.46042 12.1777 3.31977C12.3183 3.17912 12.5091 3.1001 12.708 3.1001C12.9069 3.1001 13.0977 3.17912 13.2383 3.31977C13.379 3.46042 13.458 3.65119 13.458 3.8501V11.3501H20.958C21.1569 11.3501 21.3477 11.4291 21.4883 11.5698C21.629 11.7104 21.708 11.9012 21.708 12.1001Z"
        fill="#232323" />
    </svg>
  </div>
  <p class="body text-primary text-16">
    {{ item.description | html }}
  </p>
</div>