{% style %}
  .submission{
    background: var(--orange-light);
    padding-block: 64px;
  }
  .submission .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
  @media only screen and (max-width: 990px) {
    .submission .container{
      grid-template-columns: 1fr;
    }
  }
  .submission .submission_card{
    display: flex;
    width: 100%;
    min-height: 340px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 32px;
    background: var(--color-secondary);
    color: white;
  }
  @media only screen and (max-width: 990px) {
    .submission .submission_card{
      padding: 24px;
    }
  }
  .submission .submission_card h2{
    font-family: "Cormorant Garamond";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: -0.64px;
  }
  .submission .submission_card p{
    flex: 1;
    font-family: "General Sans Regular";
  }
  .submission .submission_card form{
    width: 100%;
    display: flex;
    padding: 4px 4px 4px 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 9999px;
    background: #FFF;
    max-width: 100%;
  }
  @media only screen and (max-width: 480px) {
    .submission .submission_card form input{
      padding: 8px;
    }
    .submission .submission_card form{
      flex-direction: column;
      height: auto;
      gap: 24px;
      border-radius: 16px;
      padding: 8px;
      margin-top: 24px;
    }
  }
  .submission .submission_card form input{
    flex: 1;
    padding-inline: 12px;
  }
  .submission .submission_card:nth-child(2){
    background-color: white;
    color: var(--color-tertiary);
  }
  .submission .submission_card:nth-child(2) form{
    background-color: var(--grey-light);
  }
{% endstyle %}

<section class="submission">
<div class="container">
  <div class="submission_card">
    <h2 class="m-btm m-12">
      Stay Up-to-date!
    </h2>
    <p class="m-top m-12 opacity-60">
      We’ll keep you informed about our ongoing scientific research & results.
    </p>
    <form action="">
      <input type="email" placeholder="Your email">
      <button class="btn is-brown" type="submit">Sign up</button>
    </form>
  </div>
  <div class="submission_card">
    <h2 class="m-btm m-12">
      Tell a Loved-one About Memory Air®
    </h2>
    <p class="m-top m-12 opacity-60">
      Share this revolutionary way to reverse memory loss with the important people in your life.
    </p>
    <form action="">
      <input type="email" placeholder="Loved-One’s Email">
      <button class="btn is-brown" type="submit">Submit</button>
    </form>
  </div>
</div>
</section>

{% comment %} {% schema %}
  {
    "tag": "section",
    "class": "submission"
  }
{% endschema %} {% endcomment %}