{% style %}
  #shopify-section-{{section.id}}.faq{
    background: unset;
  }
{% endstyle %}

  <div class="container">
    <h2 class="text-center m-btm m-54">
      {% if section.settings.section_title != blank %}
        {{ section.settings.section_title }}
      {% else %}
        Maintenance and <br>
        <span>
          Troubleshooting
        </span>
      {% endif %}
    </h2>
    {% assign title = "Why isn't a diffuser enough to improve my memory?" %}
    <div class="faq_wrap">
      {% if section.blocks != blank %}
        {%-  for block in section.blocks -%}
          {% render 'faq-accordion' with block.settings.faq_object %}
        {% endfor %}
      {% else %}
        {% assign item = '' | split: '' %}
        {% assign item = item | push: 'Title' | push: 'Description' %}
        {% assign title = item[0] %}
        {% assign description = item[1] %}
  
        {% render 'faq-accordion' with item %}
        {% render 'faq-accordion' with item %}
        {% render 'faq-accordion' with item %}
        {% render 'faq-accordion' with item %}
      {% endif %}

      <a href="{{ section.settings.section_cta }}" class="btn is-black">
        {{ section.settings.section_cta_title }}
      </a>
    </div>
  </div>
  <script>
    $(document).ready(() => {
      const acc = document.querySelectorAll(".faq_item .head");
      let i;
    
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          const panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        });
      }
    });
    
  </script>

{% schema %}
  {
    "tag": "section",
    "class": "faq plain",
    "settings": [
      {
        "type": "textarea",
        "id": "section_title",
        "label": "Section title",
        "info": "Wrap italic font with <span>"
      },
      {
        "type": "url",
        "id": "section_cta",
        "label": "Section cta url"
      },
      {
        "type": "text",
        "id": "section_cta_title",
        "label": "Section cta title",
        "default": "Go to FAQ"
      },
    ],
    "blocks": [
      {
        "name": "FAQ Item",
        "type": "faq_item",
        "settings": [
          {
            "type": "metaobject",
            "id": "faq_object",
            "label": "Faq item",
            "metaobject_type": "faq"
          },
        ]
      }
    ],
  }
{% endschema %}