{% style %}
  #shopify-section-{{section.id}}.faq{
    background: linear-gradient(180deg, rgba(170, 126, 113, 0.10) 0%, rgba(170, 126, 113, 0.00) 100%), #FFF;
  }
{% endstyle %}

<div class="container">
  <h2 class="text-center m-btm m-54">
    Frequenty Asked <br>
    <span>
      Questions
    </span>
  </h2>
  {% assign title = "Why isn't a diffuser enough to improve my memory?" %}
  <div class="faq_wrap">
    {% render 'faq-accordion' with title %}
    {% render 'faq-accordion' with title %}
    {% render 'faq-accordion' with title %}
    {% render 'faq-accordion' with title %}
  </div>
</div>

{% schema %}
  {
    "tag": "section",
    "class": "faq"
  }
{% endschema %}