{% style %}
  #shopify-section-{{section.id}}.faq{
    background: linear-gradient(180deg, rgba(170, 126, 113, 0.10) 0%, rgba(170, 126, 113, 0.00) 100%), #FFF;
  }
{% endstyle %}

<div class="container">
  <h2 class="text-center m-btm m-54">
    {% if section.settings.section_title != blank %}
      {{ section.settings.section_title }}
    {% else %}
      Frequenty Asked <br>
      <span>
        Questions
      </span>
    {% endif %}
  </h2>
  {% assign title = "Why isn't a diffuser enough to improve my memory?" %}
  <div class="faq_wrap">
    {% if section.blocks != blank %}
      {%-  for block in section.blocks -%}
        {% render 'faq-accordion' with block.settings.faq_object %}
      {% endfor %}
    {% else %}
      {% assign item = '' | split: '' %}
      {% assign item = item | push: 'Title' | push: 'Description' %}
      {% assign faq_title = item[0] %}
      {% assign faq_desc = item[1] %}

      {% render 'faq-accordion' with item %}
      {% render 'faq-accordion' with item %}
      {% render 'faq-accordion' with item %}
      {% render 'faq-accordion' with item %}
    {% endif %}
  </div>
</div>

<script>
  $(document).ready(() => {
    const acc = document.querySelectorAll(".faq_item .head");
  
    acc.forEach((elem,i)=>{
      elem.addEventListener("click", function () {
        event.stopPropagation()
        let panel = elem.nextElementSibling;
        elem.classList.toggle("active");
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    })
  });
  
</script>

{% schema %}
  {
    "tag": "section",
    "class": "faq",
    "settings": [
      {
        "type": "textarea",
        "id": "section_title",
        "label": "Section title",
        "info": "Wrap italic font with <span>"
      },
    ],
    "blocks": [
      {
        "name": "FAQ Item",
        "type": "faq_item",
        "settings": [
          {
            "type": "metaobject",
            "id": "faq_object",
            "label": "Faq item",
            "metaobject_type": "faq"
          },
        ]
      }
    ],
  }
{% endschema %}