{% style %}
  #shopify-section-{{section.id}}{
    padding-top: 0 !important;
  }
  #shopify-section-{{section.id}} p {
		color: #232323;
		text-align: justify;
		font-family: "General Sans Regular";
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%; /* 25.6px */
	}

  @media (max-width: 768px) {
    #shopify-section-{{section.id}} p {
        font-size: 14px;
    }
  }
{% endstyle %}

<div class="container">
    <p>Memory Air<sup>TM</sup> has been designed based upon the science of olfactory enrichment. The device itself, however, has not been tested to replicate the results of these 20 underlying studies. It is not required to be approved by the FDA for yourself and your family since it does not treat diseases.</p>
</div>

{% schema %}
  {
    "tag": "section",
    "class": "fda"
  }
{% endschema %}