{% style %}
  #shopify-section-{{ section.id}.hero{
    background: #375461 url('assets/images/hero_bg.png') no-repeat;
    background-position: center;
    background-size: cover;
    color: white !important;
    padding-top: 233px;
    padding-bottom: 255px;
  }
  #shopify-section-{{section.id}}.hero .hero_desc {
    font-family: "General Sans";
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    max-width: 524px;
  }
{% endstyle %}

<div class="container">
  <div class="hero_content">
    <h1 class="m-btm m-32">
      Prevent & Reverse <br>
      <span>
        Memory Loss...
      </span><br>
      ...While you sleep!
    </h1>
    <p class="hero_desc m-btm m-98">
      The Biggest Improvement in Human Memory Ever Discovered.
    </p>
    <div class="btn-wrap">
      <a class="btn" href="">Buy Now</a>
      <a class="btn is-outline" href="">Watch video</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "tag": "section",
    "class": "hero"
  }
{% endschema %}