{% comment %} <div class="homepage">
  <img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" class="logo">
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div> {% endcomment %}
<section>
  <div class="container">
    <div class="hero_content">
      <h1>
        <span>
          Prevent & Reverse ssss
        </span><br>
        <span>
          Memory Loss...
        </span><br>
        <span>
          ...While you sleep!
        </span>
      </h1>
    </div>
  </div>
</section>