{% comment %} for healthcare page {% endcomment %}

{% assign science-iluss = 'science-illus1.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign science-iluss2 = 'science-illus2-2.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign science-iluss3 = 'science-illus3-2.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

    
    <div class="container">
        <h2 class=" text-center m-btm m-54">
            Biggest innovation in <br>
            <span>
            memory loss prevention & reversal ever
            </span>
        </h2>

        <div class="memory-los_card">
            <div class="tab">
                <div id="memory-slide" class="tab_img-wrap">
                    <img src={{science-iluss}} alt="">
                    <img src={{science-iluss3}} alt="">
                    <img src={{science-iluss2}} alt="">
                </div>
                <div class="tab_btn">
                    <button id="tab-btn-1" class="active">
                    Are you experiencing brain fog?
                    </button>
                    <button id="tab-btn-2">
                    Have you been caring for a loved one who is experiencing memory loss?
                    </button>
                    <button id="tab-btn-3">
                    Are you proactive in your brain health?
                    </button>
                </div>
            </div>
            <p>
                Are you getting the results you want from your <br>
            <span>
                current methods?
            </span>
            </p>
        </div>
    </div>
    <script>
        $(document).ready(() => {

            $("#memory-slide").slick({
                arrows: false,
                dots: false,
                fade: true,
            });

            $(".tab_btn button").click((e) => {
                const index = e.currentTarget.getAttribute("id").split("tab-btn-")[1];
                $(".tab_btn button").removeClass("active");
                $(e.currentTarget).addClass("active");
                $("#memory-slide").slick("slickGoTo", index-1);
            });

        });
    </script>
    
    {% schema %}
        {
            "tag": "section",
            "class": "memory-los"
        }
    {% endschema %}