<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" data-gtm-form-interact-id="0">

                    
                        <div class="radio-group">
                            
                                
                                    <div class="option" form="AddToCartForm">
                                        
                                            <input type="hidden" id="selling-id-51061614117138" value="691274023186">
                                        

                                        <input type="radio" name="id" id="51061614117138" value="51061614117138">

                                        <label for="51061614117138">
                                            <div class="custom-checkbox"></div>
                                            <div class="option-content">
                                                <span class="title">Memory Air™ Monthly Subscription</span>
                                                
                                                
                                                    <div class="metafield-rich_text_field"><ul><li>Shipped on a monthly Basis</li><li>No commitment, Cancel anytime</li><li>Belt is included Free for first month</li><li><strong>Free Shipping</strong></li></ul></div>
                                                
                                            
                                                <span class="price">$799 + $39/ Month</span>
                                            </div>
                                        </label>
                                    </div>
                                
                            
                                
                                    <div class="option" form="AddToCartForm">
                                        
                                            <input type="hidden" id="selling-id-51061614149906" value="694496198930">
                                        

                                        <input type="radio" name="id" id="51061614149906" value="51061614149906">

                                        <label for="51061614149906">
                                            <div class="custom-checkbox"></div>
                                            <div class="option-content">
                                                <span class="title">Memory Air™ Annual Subscription</span>
                                                
                                                
                                                    <div class="metafield-rich_text_field"><ul><li><em><strong>15% off monthly cost</strong></em><em>,</em><em><strong> </strong></em><em>averages $33 per month</em></li><li>Scent Belt auto-shipped every month</li><li>No commitment, Cancel anytime</li><li>Belt is included Free for first month</li><li><strong>Free Shipping</strong></li></ul><p></p></div>
                                                
                                            
                                                <span class="price">$799 + $397/ Year</span>
                                            </div>
                                        </label>
                                    </div>
                                
                            
                                
                                    <input type="hidden" id="product" name="product" value="51061765832978">
                                 
                            
                        </div>
        <div class="custom-guarantees-container">
            <div class="guarantee-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                    <path d="m9 12 2 2 4-4"></path>
                </svg>
                <p><strong>60-Day Money-Back Guarantee</strong></p>
            </div>
            <div class="guarantee-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="8" r="7"></circle>
                    <polyline points="8.21 13.89 7 23 12 17 17 23 15.79 13.88"></polyline>
                </svg>
                <p><strong>Subscriber Replacement Warranty:</strong> Your device is protected by a replacement warranty as long as your subscription is active.</p>
            </div>
        </div>
    
                    

                    <div style="display: none !important;" class="sealsubs-target-element sealsubs-full" data-product="{&quot;id&quot;:9150054170898,&quot;title&quot;:&quot;Memory Air™&quot;,&quot;handle&quot;:&quot;memory-air-device&quot;,&quot;description&quot;:&quot;\u003cul\u003e\n\u003cli\u003eUp To 80 Stimulations Nightly of Your Sense of Smell\u003c\/li\u003e\n\u003cli\u003eCovers 2 people in the same bed\u003c\/li\u003e\n\u003cli\u003eRefill Auto-Shipped Every 30 Days For Optimum, Full Strength Effect\u003c\/li\u003e\n\u003cli\u003eSave 15% on the refills by purchasing an annual membership&nbsp;\u003c\/li\u003e\n\u003cli\u003eAlways Free Shipping\u003c\/li\u003e\n\u003c\/ul\u003e&quot;,&quot;published_at&quot;:&quot;2024-03-15T02:50:04-04:00&quot;,&quot;created_at&quot;:&quot;2024-03-15T02:50:06-04:00&quot;,&quot;vendor&quot;:&quot;Memory Air&quot;,&quot;type&quot;:&quot;Device&quot;,&quot;tags&quot;:[],&quot;price&quot;:3300,&quot;price_min&quot;:3300,&quot;price_max&quot;:79900,&quot;available&quot;:true,&quot;price_varies&quot;:true,&quot;compare_at_price&quot;:null,&quot;compare_at_price_min&quot;:0,&quot;compare_at_price_max&quot;:0,&quot;compare_at_price_varies&quot;:false,&quot;variants&quot;:[{&quot;id&quot;:51061614117138,&quot;title&quot;:&quot;Memory Air™ Monthly Subscription&quot;,&quot;option1&quot;:&quot;Memory Air™ Monthly Subscription&quot;,&quot;option2&quot;:null,&quot;option3&quot;:null,&quot;sku&quot;:&quot;MAR40M&quot;,&quot;requires_shipping&quot;:true,&quot;taxable&quot;:true,&quot;featured_image&quot;:{&quot;id&quot;:51890734104850,&quot;product_id&quot;:9150054170898,&quot;position&quot;:3,&quot;created_at&quot;:&quot;2025-03-20T03:03:05-04:00&quot;,&quot;updated_at&quot;:&quot;2025-08-26T12:44:14-04:00&quot;,&quot;alt&quot;:null,&quot;width&quot;:2122,&quot;height&quot;:1227,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/files\/User_guide_trays_in_an_oval.png?v=1756226654&quot;,&quot;variant_ids&quot;:[51061614117138,51061614149906]},&quot;available&quot;:true,&quot;name&quot;:&quot;Memory Air™ - Memory Air™ Monthly Subscription&quot;,&quot;public_title&quot;:&quot;Memory Air™ Monthly Subscription&quot;,&quot;options&quot;:[&quot;Memory Air™ Monthly Subscription&quot;],&quot;price&quot;:3900,&quot;weight&quot;:283,&quot;compare_at_price&quot;:null,&quot;inventory_management&quot;:&quot;shopify&quot;,&quot;barcode&quot;:&quot;198715348965&quot;,&quot;featured_media&quot;:{&quot;alt&quot;:null,&quot;id&quot;:43124856717586,&quot;position&quot;:3,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:1.729,&quot;height&quot;:1227,&quot;width&quot;:2122,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/files\/User_guide_trays_in_an_oval.png?v=1756226654&quot;}},&quot;requires_selling_plan&quot;:false,&quot;selling_plan_allocations&quot;:[{&quot;price_adjustments&quot;:[{&quot;position&quot;:1,&quot;price&quot;:0},{&quot;position&quot;:2,&quot;price&quot;:3900}],&quot;price&quot;:0,&quot;compare_at_price&quot;:3900,&quot;per_delivery_price&quot;:0,&quot;selling_plan_id&quot;:691274023186,&quot;selling_plan_group_id&quot;:&quot;bbfcb20576f69849c6b301d4e0b19034bc541478&quot;}]},{&quot;id&quot;:51061614149906,&quot;title&quot;:&quot;Memory Air™ Annual Subscription&quot;,&quot;option1&quot;:&quot;Memory Air™ Annual Subscription&quot;,&quot;option2&quot;:null,&quot;option3&quot;:null,&quot;sku&quot;:&quot;MAR40A&quot;,&quot;requires_shipping&quot;:true,&quot;taxable&quot;:true,&quot;featured_image&quot;:{&quot;id&quot;:51890734104850,&quot;product_id&quot;:9150054170898,&quot;position&quot;:3,&quot;created_at&quot;:&quot;2025-03-20T03:03:05-04:00&quot;,&quot;updated_at&quot;:&quot;2025-08-26T12:44:14-04:00&quot;,&quot;alt&quot;:null,&quot;width&quot;:2122,&quot;height&quot;:1227,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/files\/User_guide_trays_in_an_oval.png?v=1756226654&quot;,&quot;variant_ids&quot;:[51061614117138,51061614149906]},&quot;available&quot;:true,&quot;name&quot;:&quot;Memory Air™ - Memory Air™ Annual Subscription&quot;,&quot;public_title&quot;:&quot;Memory Air™ Annual Subscription&quot;,&quot;options&quot;:[&quot;Memory Air™ Annual Subscription&quot;],&quot;price&quot;:3300,&quot;weight&quot;:283,&quot;compare_at_price&quot;:null,&quot;inventory_management&quot;:&quot;shopify&quot;,&quot;barcode&quot;:&quot;198715348966&quot;,&quot;featured_media&quot;:{&quot;alt&quot;:null,&quot;id&quot;:43124856717586,&quot;position&quot;:3,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:1.729,&quot;height&quot;:1227,&quot;width&quot;:2122,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/files\/User_guide_trays_in_an_oval.png?v=1756226654&quot;}},&quot;requires_selling_plan&quot;:false,&quot;selling_plan_allocations&quot;:[{&quot;price_adjustments&quot;:[{&quot;position&quot;:1,&quot;price&quot;:39600}],&quot;price&quot;:39600,&quot;compare_at_price&quot;:39600,&quot;per_delivery_price&quot;:3300,&quot;selling_plan_id&quot;:694496198930,&quot;selling_plan_group_id&quot;:&quot;d18d5482fcf0ed8c37bf7e3434968e81ab503e04&quot;}]},{&quot;id&quot;:51061765832978,&quot;title&quot;:&quot;Memory Air™ Only&quot;,&quot;option1&quot;:&quot;Memory Air™ Only&quot;,&quot;option2&quot;:null,&quot;option3&quot;:null,&quot;sku&quot;:&quot;MA100&quot;,&quot;requires_shipping&quot;:true,&quot;taxable&quot;:true,&quot;featured_image&quot;:{&quot;id&quot;:53872061743378,&quot;product_id&quot;:9150054170898,&quot;position&quot;:2,&quot;created_at&quot;:&quot;2024-03-15T02:50:54-04:00&quot;,&quot;updated_at&quot;:&quot;2025-08-26T12:44:14-04:00&quot;,&quot;alt&quot;:null,&quot;width&quot;:716,&quot;height&quot;:1320,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/files\/final_product.webp?v=1756226654&quot;,&quot;variant_ids&quot;:[51061765832978]},&quot;available&quot;:true,&quot;name&quot;:&quot;Memory Air™ - Memory Air™ Only&quot;,&quot;public_title&quot;:&quot;Memory Air™ Only&quot;,&quot;options&quot;:[&quot;Memory Air™ Only&quot;],&quot;price&quot;:79900,&quot;weight&quot;:2631,&quot;compare_at_price&quot;:null,&quot;inventory_management&quot;:&quot;shopify&quot;,&quot;barcode&quot;:&quot;198715943764&quot;,&quot;featured_media&quot;:{&quot;alt&quot;:null,&quot;id&quot;:37954371977490,&quot;position&quot;:2,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:0.542,&quot;height&quot;:1320,&quot;width&quot;:716,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/files\/final_product.webp?v=1756226654&quot;}},&quot;requires_selling_plan&quot;:false,&quot;selling_plan_allocations&quot;:[]}],&quot;images&quot;:[&quot;\/\/memoryair.com\/cdn\/shop\/products\/sleep.png?v=1710485406&quot;,&quot;\/\/memoryair.com\/cdn\/shop\/files\/final_product.webp?v=1756226654&quot;,&quot;\/\/memoryair.com\/cdn\/shop\/files\/User_guide_trays_in_an_oval.png?v=1756226654&quot;],&quot;featured_image&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/products\/sleep.png?v=1710485406&quot;,&quot;options&quot;:[&quot;Bundle&quot;],&quot;media&quot;:[{&quot;alt&quot;:null,&quot;id&quot;:37954365391122,&quot;position&quot;:1,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:1.114,&quot;height&quot;:729,&quot;width&quot;:812,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/products\/sleep.png?v=1710485406&quot;},&quot;aspect_ratio&quot;:1.114,&quot;height&quot;:729,&quot;media_type&quot;:&quot;image&quot;,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/products\/sleep.png?v=1710485406&quot;,&quot;width&quot;:812},{&quot;alt&quot;:null,&quot;id&quot;:37954371977490,&quot;position&quot;:2,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:0.542,&quot;height&quot;:1320,&quot;width&quot;:716,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/files\/final_product.webp?v=1756226654&quot;},&quot;aspect_ratio&quot;:0.542,&quot;height&quot;:1320,&quot;media_type&quot;:&quot;image&quot;,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/files\/final_product.webp?v=1756226654&quot;,&quot;width&quot;:716},{&quot;alt&quot;:null,&quot;id&quot;:43124856717586,&quot;position&quot;:3,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:1.729,&quot;height&quot;:1227,&quot;width&quot;:2122,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/files\/User_guide_trays_in_an_oval.png?v=1756226654&quot;},&quot;aspect_ratio&quot;:1.729,&quot;height&quot;:1227,&quot;media_type&quot;:&quot;image&quot;,&quot;src&quot;:&quot;\/\/memoryair.com\/cdn\/shop\/files\/User_guide_trays_in_an_oval.png?v=1756226654&quot;,&quot;width&quot;:2122}],&quot;requires_selling_plan&quot;:false,&quot;selling_plan_groups&quot;:[{&quot;id&quot;:&quot;d18d5482fcf0ed8c37bf7e3434968e81ab503e04&quot;,&quot;name&quot;:&quot;Annual&quot;,&quot;options&quot;:[{&quot;name&quot;:&quot;Deliver every 1 Year&quot;,&quot;position&quot;:1,&quot;values&quot;:[&quot;month&quot;]}],&quot;selling_plans&quot;:[{&quot;id&quot;:694496198930,&quot;name&quot;:&quot;Annual subscription&quot;,&quot;description&quot;:&quot;Belt is included Free for first month&quot;,&quot;options&quot;:[{&quot;name&quot;:&quot;Deliver every 1 Year&quot;,&quot;position&quot;:1,&quot;value&quot;:&quot;month&quot;}],&quot;recurring_deliveries&quot;:true,&quot;price_adjustments&quot;:[{&quot;order_count&quot;:null,&quot;position&quot;:1,&quot;value_type&quot;:&quot;percentage&quot;,&quot;value&quot;:0}],&quot;checkout_charge&quot;:{&quot;value_type&quot;:&quot;percentage&quot;,&quot;value&quot;:100}}],&quot;app_id&quot;:&quot;Seal Subscriptions&quot;},{&quot;id&quot;:&quot;bbfcb20576f69849c6b301d4e0b19034bc541478&quot;,&quot;name&quot;:&quot;Monthly&quot;,&quot;options&quot;:[{&quot;name&quot;:&quot;Deliver every 1 Month&quot;,&quot;position&quot;:1,&quot;values&quot;:[&quot;month&quot;]}],&quot;selling_plans&quot;:[{&quot;id&quot;:691274023186,&quot;name&quot;:&quot;Monthly subscription&quot;,&quot;description&quot;:&quot;Belt is included Free for first month&quot;,&quot;options&quot;:[{&quot;name&quot;:&quot;Deliver every 1 Month&quot;,&quot;position&quot;:1,&quot;value&quot;:&quot;month&quot;}],&quot;recurring_deliveries&quot;:true,&quot;price_adjustments&quot;:[{&quot;order_count&quot;:1,&quot;position&quot;:1,&quot;value_type&quot;:&quot;percentage&quot;,&quot;value&quot;:100},{&quot;order_count&quot;:null,&quot;position&quot;:2,&quot;value_type&quot;:&quot;percentage&quot;,&quot;value&quot;:0}],&quot;checkout_charge&quot;:{&quot;value_type&quot;:&quot;percentage&quot;,&quot;value&quot;:100}}],&quot;app_id&quot;:&quot;Seal Subscriptions&quot;}],&quot;content&quot;:&quot;\u003cul\u003e\n\u003cli\u003eUp To 80 Stimulations Nightly of Your Sense of Smell\u003c\/li\u003e\n\u003cli\u003eCovers 2 people in the same bed\u003c\/li\u003e\n\u003cli\u003eRefill Auto-Shipped Every 30 Days For Optimum, Full Strength Effect\u003c\/li\u003e\n\u003cli\u003eSave 15% on the refills by purchasing an annual membership&nbsp;\u003c\/li\u003e\n\u003cli\u003eAlways Free Shipping\u003c\/li\u003e\n\u003c\/ul\u003e&quot;}" data-handle="memory-air-device" data-seal-ac="l7zffdbem2w2kfr"><div class="sealsubs-target-element"><div class="sealsubs-container" data-only-one-option-overall="0" role="radiogroup" aria-labelledby="seal-purchase-options-label"><div><label id="seal-purchase-options-label" class="sls-purchase-options-label">Purchase options</label></div><div class="sls-purchase-options-container"><input type="hidden" data-sls-selling_plan="" name="selling_plan" value="691274023186"><div class="sls-option-container seal-table sls-disabled-option-container" data-selling-plan-group="0" data-selling-plan-group-id="d18d5482fcf0ed8c37bf7e3434968e81ab503e04" data-prepaid="false"><div class="seal-row"><div class="seal-col seal-col-radio" data-selling-plan-group-option-radio=""><div class="sls-selling-plan-group-first-line" tabindex="0" role="radio" aria-label="Annual" aria-checked="false"><input type="radio" class="sls-option" name="subs_type_l7zffdbem2w2kfr" value="0" data-type="subscription" data-selling-plan-group="0" tabindex="-1" aria-label="Annual" data-gtm-form-interact-field-id="0"><span class="sls-custom-radio"></span></div></div><div class="sls-label-container seal-col"><div class="sls-selling-plan-group-first-line"><label class="sls-selling-plan-group-name">Annual&nbsp;<span class="sls-savings-badge" style="display: none;"></span></label><div class="sls-selling-plan-group-price sls-total-price sls-price-container" data-selling-plan-group="0"><div class="sls-price"><span class="money conversion-bear-money seal-money ht-money">$39.00</span><div class="sls-price-below"></div></div></div></div><div class="sls-selling-plan-group-options" data-interval-count="1" data-available-interval-count="0"><div class="selling-plan-group-options-name-select"><label>Deliver every 1 Year&nbsp;</label><div class="sls-select-container"><select class="sls-select seal-tight needsclick" name="subs_interval" aria-label="Interval select"><option value="694496198930" disabled="disabled" style="display:none" hidden="hidden">month</option></select></div><label class="sls-selling-plan-group-first-option">month</label></div><div class="sls-selling-plan-group-price-per-delivery sls-price-container"></div></div><div class="sls-selling-plan-description-content"></div></div></div></div><div class="sls-option-container seal-table sls-active" data-selling-plan-group="1" data-selling-plan-group-id="bbfcb20576f69849c6b301d4e0b19034bc541478" data-prepaid="false"><div class="seal-row"><div class="seal-col seal-col-radio" data-selling-plan-group-option-radio=""><div class="sls-selling-plan-group-first-line" tabindex="0" role="radio" aria-label="Monthly" aria-checked="true"><input type="radio" class="sls-option" name="subs_type_l7zffdbem2w2kfr" value="1" data-type="subscription" data-selling-plan-group="1" tabindex="-1" aria-label="Monthly" data-gtm-form-interact-field-id="1"><span class="sls-custom-radio"></span></div></div><div class="sls-label-container seal-col"><div class="sls-selling-plan-group-first-line"><label class="sls-selling-plan-group-name">Monthly&nbsp;<span class="sls-savings-badge" style="display: inline-block;">SAVE 100%</span></label><div class="sls-selling-plan-group-price sls-total-price sls-price-container" data-selling-plan-group="1"><div class="sls-price"><span class="money conversion-bear-money seal-money ht-money">$0.00</span><div class="sls-price-below"></div></div></div></div><div class="sls-selling-plan-group-options" data-interval-count="1" data-available-interval-count="1"><div class="selling-plan-group-options-name-select"><label>Deliver every 1 Month&nbsp;</label><div class="sls-select-container"><select class="sls-select seal-tight needsclick" name="subs_interval" aria-label="Interval select"><option value="691274023186">month</option></select></div><label class="sls-selling-plan-group-first-option">month</label></div><div class="sls-selling-plan-group-price-per-delivery sls-price-container"></div></div><div class="sls-selling-plan-description-content">Belt is included Free for first month</div></div></div></div><div class="sls-option-container seal-table" role="button" data-prepaid="false"><div class="seal-row"><div class="seal-col seal-col-radio" data-one-time-option-radio=""><div class="sls-selling-plan-group-first-line" tabindex="0" role="radio" aria-label="One time" aria-checked="false"><input type="radio" class="sls-option" name="subs_type_l7zffdbem2w2kfr" value="one_time" tabindex="-1" data-type="one_time" aria-label="One time"><span class="sls-custom-radio"></span></div></div><div class="sls-label-container seal-col"><div class="sls-selling-plan-group-first-line"><label class="sls-selling-plan-group-name">One-time purchase</label><div class="sls-one-time-price sls-total-price sls-price-container"><div class="sls-price"><span class="money conversion-bear-money seal-money ht-money">$39.00</span><div class="sls-price-below"></div></div></div></div></div></div></div></div><div class="sls-more-info-container"><span class="sls-more-info-text"><object class="sls-sub-icon" data="https://cdn-app.sealsubscriptions.com/shopify/public/img/app/logo-symbol.svg?shop=memory-air.myshopify.com&amp;1766441017" type="image/svg+xml" aria-label="Seal Subscriptions" tabindex="-1"></object><span class="sls-subscription-details-label" tabindex="0"><!-- Link for accessibility requirements. You can change it or remove it in Translations in the app. --><a href="https://www.sealsubscriptions.com/articles/how-subscriptions-work" target="_blank">Subscription details</a></span><div class="sls-more-info-popup" tabindex="0"><div class="sls-more-info-popup-content"><strong>How subscriptions work</strong>
<br>
<br>
You can modify or cancel your subscriptions anytime. There is no obligation. Subscriptions are renewed automatically.<br><!-- You can change or remove the link in Translations in the app. --><a href="https://www.sealsubscriptions.com/articles/how-subscriptions-work" target="_blank" rel="nofollow" alt="Learn more about subscriptions on sealsubscriptions.com">Learn more about subscriptions...</a></div><div class="sls-close"></div></div></span></div></div></div></div>

                    <button class="add-to-cart" type="submit" name="add" id="AddToCart" coframe-metric-ids="68bbc35519f36bcbeded6a14" disabled="true">You already have items in cart!</button>
                </form>




{% schema %}
{
  "name": "Subscriptions Product",
  "settings": [
   
  ],
  "presets": [
    {
      "name": "Subscriptions Product"
    }
  ]
}
{% endschema %}



                <script>
  
    $(document).ready(function(){
      let countP = document.querySelectorAll('.cart-menu .item-wrap .item')
        
      if(countP.length > 0){
          document.querySelector('#AddToCart').setAttribute('disabled', true);
          document.querySelector('#AddToCart').innerText = "You already have items in cart!";
      }
      
      const bodyElements = document.querySelectorAll('#AddToCartForm label div.option-content span.title');

      bodyElements.forEach((element) => {
        element.innerHTML = element.innerHTML.replace(/®/g, '<sup>®</sup>');
      });
    })


    document.getElementById('AddToCartForm').addEventListener('submit', function(event) {
        event.preventDefault();

        if(!cartData.items.length){
            var variantId = document.querySelector('input[name="id"]:checked').value;
            var deviceId = document.querySelector('input[name="product"]').value;

            var sellingPlanSelect = document.getElementById('selling-id-' + variantId);
            var sellingPlanId = sellingPlanSelect ? sellingPlanSelect.value : null;

            addThis([
                {
                    'id': deviceId,
                    'quantity': 1,
                },
                {
                    'id': variantId,
                    'quantity': 1,
                    'selling_plan': sellingPlanId
                }
            ], (result)=>{
                if(result){
                    load();
                    document.querySelector('nav').classList.add('open');
                    document.querySelector('#AddToCart').setAttribute('disabled', true);
                    document.querySelector('#AddToCart').innerText = "You already have items in cart!";
                }
            });
        }
    });

</script>