:root{
    --color-primary: #232323;
    --color-secondary: #3C2E25;
    --color-tertiary: #38332F;
    --color-light: #F6F2F1;

    --orange-light: #F6EFDC;
    --grey-light: #F5F5F5;

    --white-98: #FFFFFFD9;
    --black-20: #00000033; 
    --black-60: rgba(0, 0, 0, 0.60); 
    --secondary-50: #3C2E2580;
}
*{
    box-sizing: border-box;
}
body{
    padding: unset;
    margin: unset;
    color: var(--color-secondary);
}
section{
    width: 100%;
    position: relative;
    padding-block: 100px;
}
input,
select,
textarea{
    background-color: transparent;
    margin: unset;
    padding: unset;
    border: unset;
    color: var(--color-secondary);
    font-family: "General Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding-inline: 20px;
}

h1{
    margin: unset;
    font-family: Avenir Next Cyr;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
}
h1 span{
    font-family: Cormorant Garamond;
    font-weight: 700;
    font-style: italic;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
}

h2{
    margin: unset;
    font-family: Avenir Next Cyr;
    font-weight: 450;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0%;
}
h2 span{
    font-family: Cormorant Garamond;
    font-weight: 700;
    font-style: italic;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%; 
}

h3{
    margin: unset;
    font-family: "General Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

p{
    margin: unset;
    font-family: General Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;    
}

a{
    text-decoration: none;
}
button{
    background-color: transparent;
    border: unset;
    cursor: pointer;
}

.text-primary{
    color: var(--color-primary);
}
.text-black{
    color: black;
}

.p-top{
    padding-right: unset !important;
    padding-left: unset !important;
    padding-bottom: unset !important;
}
.p-btm{
    padding-right: unset !important;
    padding-left: unset !important;
    padding-top: unset !important;
}
.p-right{
    padding-bottom: unset !important;
    padding-left: unset !important;
    padding-top: unset !important;
}
.p-left{
    padding-right: unset !important;
    padding-bottom: unset !important;
    padding-top: unset !important;
}
.p-horizontal{
    padding-bottom: unset !important;
    padding-top: unset !important;
}
.p-vertical{
    padding-left: unset !important;
    padding-right: unset !important;
}

.m-top{
    margin-right: unset !important;
    margin-left: unset !important;
    margin-bottom: unset !important;
}
.m-btm{
    margin-right: unset !important;
    margin-left: unset !important;
    margin-top: unset !important;
}
.m-right{
    margin-bottom: unset !important;
    margin-left: unset !important;
    margin-top: unset !important;
}
.m-left{
    margin-right: unset !important;
    margin-bottom: unset !important;
    margin-top: unset !important;
}
.m-horizontal{
    margin-bottom: unset !important;
    margin-top: unset !important;
}
.m-vertical{
    margin-left: unset !important;
    margin-right: unset !important;
}

.p-2{
    padding: 2px;
}
.p-4{
    padding: 4px;
}
.p-12{
    padding: 12px;
}
.p-32{
    padding: 32px;
}
.p-54{
    padding: 54px;
}
.p-78{
    padding: 78px;
}
.p-98{
    padding: 98px;
}

.m-2{
    margin: 2px;
}
.m-4{
    margin: 4px;
}
.m-12{
    margin: 12px;
}
.m-32{
    margin: 32px;
}
.m-54{
    margin: 54px;
}
.m-78{
    margin: 78px;
}
.m-98{
    margin: 98px;
}

.font-reguler{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semibold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}

.font-italic{
    font-style: italic;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.text-16{
    letter-spacing: 0%;
    font-size: 16px;
    line-height: 140%;
}
.text-20{
    letter-spacing: 0%;
    font-size: 20px;
    line-height: 150%;
}
.text-32{
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0%;
}
.text-80{
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0%;
}

.opacity-60{
    opacity: 0.6;
}

.btn-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
}
.btn{
    background: var(--white-98);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 80px;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    font-family: Avenir Next Cyr;
    font-weight: 450;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--color-primary);
}
.btn.is-outline-black{
    border: 1px solid var(--color-primary);
    background: white;
    color: var(--color-primary);
}
.btn.is-outline{
    border: 1px solid #FFFFFF;
    background: #00000033;
    color: white;
}
.btn.is-black{
    border: 1px solid var(--color-primary);
    color: white;
    background: var(--color-primary);
}
.btn.is-brown{
    border: 1px solid var(--color-secondary);
    color: white;
    background: var(--color-secondary);
}

.divider{
    width: 100%;
    height: 1px;
    background-color: var(--color-primary);
}

.navigation-slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 41px;
}
.navigation-slider .navigation-slider_indicator{
    height: 8px;
    background-color: rgba(60, 46, 37, 0.5);
    border-radius: 18px;
    width: 334px;
    position: relative;
    overflow: hidden;
}
.navigation-slider .navigation-slider_indicator .bar{
    width: 0%;
    height: 100%;
    border-radius: 18px;
    background-color: rgba(225, 162, 119, 1);
    transition: all 200ms ease;
}

nav{
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    padding-block: 30px;
    transition: all 200ms ease;
}
nav::before{
    transition: all 200ms ease;
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%);
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
}
nav.scrolled.black::before{
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
nav.scrolled::before{
    opacity: 1;
}
nav.scrolled{
    padding-block: 12px;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
nav .logo{
    width: 121px;
}
nav.black .logo{
    filter: invert(1);
}
nav .menu{
    display: flex;
    align-items: center;
    gap: 32px;
}
nav .left{
    display: flex;
    align-items: center;
    gap: 71px;
}
nav .right{
    display: flex;
    align-items: center;
    gap: 54px;
}
nav .menu a{
    color: white;
    font-family: "General Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: capitalize;
}
nav .cart{
    color: white;
}
nav.black .menu a,
nav.black .cart{
    color: var(--color-secondary);
}

footer{
    display: flex;
    flex-direction: column;
    padding-top: 33px;
    padding-bottom: 65px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    color: white;
}
footer .container{
    padding-inline: 118px;
}
footer .container:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 38px;
}
footer .container:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    position: relative;
}
footer .container:nth-child(2)::after{
    content: '';
    width: calc( 100% - calc( 118px * 2 ) );
    border-top: 1px solid 
    rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
}
footer .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 336px;
}
footer .left p{
    text-transform: capitalize;
    text-align: center;
}
footer .footer_logo{
    height: 168px;
}
footer form{
    width: 100%;
    display: flex;
    padding: 4px 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 9999px;
    border: 1px solid white;
    color: white;
}
footer form input{
    font-family: "General Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-right: 24px;
    color: white;
}
footer form svg{
    color: white;
}
footer .right{
    display: flex;
    flex-direction: column;
    gap: 31px;
    max-width: 460px;
}
footer .right a{
    color: white;

    font-family: "General Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
}
footer .right .menu-group{
    display: flex;
    gap: 60px;
}
footer .right .menu-wrap{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer .right .menu-btm{
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 18px;
}
footer .right .menu-btm p{
    max-width: 236px;
}
footer .menu-term{
    display: flex;
    align-items: center;
    gap: 24px;
}
footer .menu-term a{
    color: white;
}