.hero{
  background: #375461 url('./images/hero_bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  color: white !important;
  padding-top: 233px;
  padding-bottom: 255px;
}
.hero .hero_desc{
  font-family: "General Sans";
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0%;
  max-width: 524px;
}

.partner{
  padding-block: 64px;
  overflow: hidden;
}
.partner .container{
  max-width: 100%;
  padding: unset;
}
.partner .container div{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 40px;
}

.science .science_content{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
}
.science .science_right{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.science .science_label{
  font-family: "General Sans";
  color: var(--secondary-50);
  margin-bottom: 36px;
}
.science .science_stat-wrap{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.science .science_stat{
  display: flex;
  align-items: center;
  gap: 24px;
}

.life{
  background: linear-gradient(180deg, rgba(170, 126, 113, 0.00) 0%, rgba(170, 126, 113, 0.10) 100%), #FFF;
}
.life .container:last-child{
  padding: unset;
  max-width: 2048px;
}
.life .life_slider{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
@media only screen and (min-width: 2048px) {
  .life .life_slider{
    border-radius: 32px;
    overflow: hidden;
  }
}
.life .slider_item-wrap{
  padding-inline: 10px;
}
.life .slider_item{
  flex-shrink: 0;
  width: 412px;
  height: 515px;
  border-radius: 24px;
  overflow: hidden;
  background-color: #C58346;
  position: relative;
}
.life .slider_item::after{
  background: linear-gradient(180deg, rgba(244, 237, 228, 0) 50.28%, #F4EDE4 100%);
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.life .slider_item div{
  position: absolute;
  width: 100%;
  bottom: 32px;
  left: 0;
  padding-inline: 24px;
  font-family: "General Sans";
  z-index: 2;
}

.product{
  background-color: var(--color-secondary);
  color: white;
}
.product .container{
  display: flex;
  gap: 99px;
  align-items: flex-start;
}
.product .left-content{
  display: flex;
  gap: 28px;
  /* position: sticky;
  top: 25vh; */
}
.product .left-content .head{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}
.product .left-content .head img{
  flex: 1;
  object-fit: contain;
}
.product .right-content{
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* height: 3000px; */
}
.product .right-content .item{
  display: flex;
  align-items: center;
  gap: 18px;
  opacity: 0.2;
}
.product .right-content .item.active{
  opacity: 1;
  padding-bottom: 323px;
}
.product .right-content .item svg{
  color: white;
  fill: var(--color-secondary);
  border-radius: 50%;
}
.product .right-content .item.active svg{
  color: var(--color-secondary);
  fill: white;
}

.stories{
  background: linear-gradient(180deg, rgba(170, 126, 113, 0.00) 0%, rgba(170, 126, 113, 0.10) 100%), #FFF;
}
.stories .container{
  padding: unset;
  max-width: 2048px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stories .stories_card-wrap{
  padding-inline: 12px;
}
@media only screen and (min-width: 2048px) {
  .stories .stories_slider{
    border-radius: 32px;
    overflow: hidden;
  }
}
.stories .stories_card{
  display: flex;
  width: 100vw;
  max-width: 1073px;
  height: 520px;
  align-items: stretch;
  gap: 32px;
  border-radius: 32px;
  background: var(--orange-light);
}
.stories .stories_card img{
  height: 520px;
  border-radius: 24px;
  object-fit: cover;
  width: 439px;
  background-color: lightgray;
}
.stories .stories_card .content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 24px;
}
.stories .stories_card .content p{
  color: #000;
  font-family: "General Sans";
}
.stories .stories_card .user{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.stories .stories_card .user span:last-child{
  color: var(--black-60);
}
.stories .stories_navigation{
  position: relative;
  width: 100%;
  max-width: calc( 1440px - 5%);
}
.stories .stories_navigation button{
  position: absolute;
  left: 0;
  top: -300px;
}
.stories .stories_navigation button:last-child{
  left: unset;
  right: 0;
}

.news{
  padding-bottom: 31px;
}
.news .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news .news_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.news .news_item{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.news .news_item img{
  width: 100%;
  border-radius: 24px;
  background: var(--orange-light);
  height: 359px;
  object-fit: cover;
}
.news .news_item:hover h3{
  text-decoration: underline;
}

.submission{
  background: var(--orange-light);
  padding-block: 64px;
}
.submission .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.submission .submission_card{
  display: flex;
  width: 100%;
  height: 340px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  background: var(--color-secondary);
  color: white;
}
.submission .submission_card h2{
  font-family: "Cormorant Garamond";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: -0.64px;
}
.submission .submission_card p{
  flex: 1;
  font-family: "General Sans";
}
.submission .submission_card form{
  width: 100%;
  display: flex;
  padding: 4px 4px 4px 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 9999px;
  background: #FFF;
}
.submission .submission_card form input{
  flex: 1;
  padding-inline: 12px;
}
.submission .submission_card:nth-child(2){
  background-color: white;
  color: var(--color-tertiary);
}
.submission .submission_card:nth-child(2) form{
  background-color: var(--grey-light);
}

.faq{
  background: linear-gradient(180deg, rgba(170, 126, 113, 0.10) 0%, rgba(170, 126, 113, 0.00) 100%), #FFF;
}
.faq .faq_wrap{
  width: 100%;
  max-width: 717px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.faq .faq_item{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faq .faq_item .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq .faq_item .head{
  padding-right: 12px;
  font-family: "General Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.faq .faq_item .head svg{
  transition: all 200ms ease;
}
.faq .faq_item .head.active svg{
  transform: rotate(135deg);
}
.faq .faq_item .body{
  font-family: "General Sans";
  max-height: 0;
  overflow: hidden;
  padding-right: 52px;
  transition: all 200ms ease;
}