.hero2{
  padding-bottom: unset;
  padding-top: 135px;
  background: linear-gradient(180deg, rgba(170, 126, 113, 0.10) 0%, rgba(170, 126, 113, 0.00) 100%), #FFF;
}
.hero2 .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 79px;
}
.hero2 .content{
  max-width: 588px;
}
.hero2 .illus{
  width: 634px;
}

.memory-los{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(251,249,248,1) 100%);
}
.memory-los_card{
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 24px;
  gap: 48px;
  background: var(--color-light);
}
.memory-los .tab{
  display: flex;
  align-items: stretch;
  gap: 33px;
  flex: 1;
}
.memory-los .tab_img-wrap{
  width: 100%;
  max-width: 680px;
}
.memory-los .tab_img-wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.memory-los .tab_btn{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.memory-los .tab_btn button{
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 24px;
  text-align: left;
  color: var(--color-primary);
  font-family: "General Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  flex: 1;
  opacity: 0.5;
}
.memory-los .tab_btn button:hover,
.memory-los .tab_btn button.active{
  background: #FFF;
  opacity: 1;
}
.memory-los_card p{
  color: var(--color-primary);
  text-align: center;
  font-family: "Avenir Next Cyr";
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 44.352px */
}
.memory-los_card p span{
  font-family: "Cormorant Garamond";
  font-size: 47px;
  font-style: italic;
  font-weight: 700;
  line-height: 120%;
}

.nose{
  background: rgb(251,249,248);
  background: linear-gradient(0deg, rgba(251,249,248,1) 0%, rgba(248,244,243,1) 64%, rgba(251,248,247,1) 100%);
}
.nose .content{
  margin-top: 225px;
  max-width: 435px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--color-primary);
}
.nose .content h3{
  font-family: "Avenir Next Cyr";
  font-size: 64px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%;
}
.nose .content p{
  font-family: "General Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.timeline{
  background: var(--color-secondary);
  color: white;
}
.timeline::before{
  content:'';
  width: 100%;
  height: 105px;
  position: absolute;
  top: 0px;
  background: linear-gradient(180deg, rgba(251,248,247,1) 0%, rgba(56, 51, 47, 0.00) 100%);
}
.timeline .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeline h2{
  margin-top: 59px;
  margin-bottom: 107px;
}
.timeline .item-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 38px;
  padding-bottom: 32px;
  overflow: hidden;
  max-height: 500px;
  position: relative;
  transition: all 200ms ease;
}
.timeline .item-wrap.active::after{
  height: 0;
}
.timeline .item-wrap::after{
  content: '';
  overflow: hidden;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 200ms ease;
  background: rgb(56,51,47);
  background: linear-gradient(0deg, rgba(56,51,47,1) 0%, rgba(56,51,47,0.1) 100%);
}
.timeline .item-wrap .item{
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
}
.timeline .item-wrap .item::before{
  content: '';
  height: 100%;
  width: 4px;
  background-color: rgba(232, 232, 232, 0.3);
  grid-area: 1 / 2 / 2 / 3;
  margin: auto;
}
.timeline .item-wrap .item::after{
  content: '';
  grid-area: 1 / 2 / 2 / 3;
  margin-inline: auto;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  margin-top: -42px;
}
.timeline .item-wrap .item:first-child:after{
  margin-top: unset;
}
.timeline .item-wrap .item .content{
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  justify-self: flex-end;
  max-width: 391px;
  font-family: "General Sans";
  font-weight: 500;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0%;
  margin-top: -42px;
}
.timeline .item-wrap .item .content:first-child{
  margin-top: unset;
}
.timeline .item-wrap .item .content.right{
  grid-area: 1 / 3 / 2 / 4;
  justify-self: flex-start;
}
.timeline .item-wrap .item .content .date{
  align-self: flex-end;
}
.timeline .item-wrap .item .content.right .date{
  align-self: flex-start;
}

.introduce .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduce p{
  text-align: center;
  font-family: "General Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 820px;
  margin-top: 28px;
  margin-bottom: 32px;
}
.introduce .img-wrap{
  width: 100%;
  margin-bottom: 32px;
}
.introduce .img-wrap img{
  width: 100%;
  height: 751px;
  object-fit: cover;
  border-radius: 64px;
}

.review{
  background: linear-gradient(180deg, rgba(170, 126, 113, 0.00) 0%, rgba(170, 126, 113, 0.10) 100%), #FFF;
}
.review .container{
  max-width: 100%;
  padding: unset;
  max-width: 2048px;
}
.review h2{
  margin-bottom: 64px;
}
@media only screen and (min-width: 2048px) {
  .review .slider{
    border-radius: 24px;
    overflow: hidden;
  }
}
.review .slider_item-wrap{
  padding-inline: 12px;
}
.review .slider_item{
  display: flex;
  flex-direction: column;
  max-width: 405px;
  color: var(--color-primary);
}
.review .slider_item h3{
  padding-inline: 16px;
  margin-top: 32px;
}
.review .slider_item p{
  flex: 1;
  padding-inline: 16px;
  margin-top: 32px;
  padding-bottom: 20px;
}
.review .slider_item img{
  height: 304px;
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}
.review .slider_item .user{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-inline: 16px;
}
.review .slider_item .user span{
  font-family: "General Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.review .slider_item .user span:first-child{
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
}