.banner{
  background-color: var(--color-secondary);
  color: white;
}
.banner .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.banner .btn{
  margin-top: 16px;
}

.banner-cta .container .card{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  border-radius: 16px;
  background: var(--Light-3, #F4EDE4);
  box-shadow: -4px -4px 10px 0px rgba(238, 238, 238, 0.25), 4px 4px 10px 0px rgba(238, 238, 238, 0.25);
  padding: 80px 100px;
  gap: 32px;
}
.banner-cta .container .card p{
  color: var(--color-secondary);
  font-family: "General Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  letter-spacing: -0.1px;
  max-width: 540px;
}
.banner-cta .container .card .btn{
  margin-bottom: 8px;
}