{% style %}
  .not-found{
    background: linear-gradient(0deg, #F6EFDC 24.28%, #FFF 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .not-found .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 479px;
    margin: auto;
    gap: 24px;
  }
  .not-found h1{
    color: #3C2E25;
    text-align: center;
    font-family: "Cormorant Garamond";
    font-size: 72px;
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
  }
  .not-found p{
    color: #3C2E25;
    text-align: center;
    font-family: "General Sans Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .not-found .btn-wrap{
    justify-content: center;
    margin-top: 8px;
  }
{% endstyle %}

<section class="not-found" style="min-height: 70vh;padding-top: 20vh;">
  <div class="container">
    <h1>Lost in a Dream?</h1>
    <p>This page has drifted away into dreamland...
      but your journey with Memory Air<sup>®</sup> is just beginning.
      Let’s get back on track!</p>
      <div class="btn-wrap">
          <a class="btn is-brown" href="/">Back</a>
          <a class="btn is-outline" href="/">Go Home</a>
      </div>
  </div>
</section>
