<section style="min-height: 70vh;padding-top: 20vh;">
  <div class="container">
    <h1>Lost in a Dream?</h1>
    <p>This page has drifted away into dreamland...
      but your journey with Memory Air<sup>®</sup> is just beginning.
      Let’s get back on track!</p>
      <div class="btn-wrap">
          <a class="btn is-brown" href="/">Back</a>
          <a class="btn is-outline" href="/">Go Home</a>
      </div>
  </div>
</section>
