{% style %}
    .textbased .content{
        display: flex;
        align-items: flex-start;
        gap: 42px;
        justify-content: space-between;
    }
    .textbased .conten p {
        font-size: 14px !important;
    }
    .textbased .content h2,
    h2 span {
        margin: unset;
        font-family: "Avenir";
        font-weight: 450;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
    }
{% endstyle %}

<section style="min-height: 70vh;padding-top: 20vh;" class="textbased">
    <div class="container">
        <h1 class="m-btm m-78">{{ page.title }}</h1>
        <div class="content">
            <div class="toc">

            </div>
            <div>{{ page.content }}</div>
        </div>
    </div>
</section>